# euro.Season test notebook

In [24]:
from sportsref import euro

### Need league_id to initialize - list of league_ids can be obtained with euro.LEAGUE_IDS

In [33]:
print(euro.LEAGUE_IDS)

['greek-basket-league', 'eurocup', 'spain-liga-acb', 'italy-basket-serie-a', 'france-lnb-pro-a', 'euroleague']

In [34]:
season = euro.Season(2017, 'france-lnb-pro-a', )

### Helper methods

In [25]:
print(season.get_team_ids())

['chalon', 'strasbourg', 'villeurbanne', 'monaco', 'paris-levallois', 'nanterre', 'gravelines', 'chalons-en-champagne', 'limoges', 'nancy', 'cholet', 'dijon', 'orleans', 'le-mans', 'pau-orthez', 'le-portel', 'hyeres-toulon', 'antibes']

In [26]:
print(season.team_ids_to_names())

{'chalon': 'Chalon/Saone', 'strasbourg': 'Strasbourg', 'villeurbanne': 'Lyon-Villeurbanne', 'monaco': 'Monaco', 'paris-levallois': 'Paris-Levallois', 'nanterre': 'Nanterre', 'gravelines': 'Gravelines-Dunkerque', 'chalons-en-champagne': 'Chalons-Reims', 'limoges': 'Limoges', 'nancy': 'Nancy', 'cholet': 'Cholet', 'dijon': 'Dijon', 'orleans': 'Orleans', 'le-mans': 'Le Mans', 'pau-orthez': 'Pau-Lacq-Orthez', 'le-portel': 'Le Portel', 'hyeres-toulon': 'Hyeres-Toulon', 'antibes': 'Antibes'}

In [27]:
print(season.team_names_to_ids())

{'Chalon/Saone': 'chalon', 'Strasbourg': 'strasbourg', 'Lyon-Villeurbanne': 'villeurbanne', 'Monaco': 'monaco', 'Paris-Levallois': 'paris-levallois', 'Nanterre': 'nanterre', 'Gravelines-Dunkerque': 'gravelines', 'Chalons-Reims': 'chalons-en-champagne', 'Limoges': 'limoges', 'Nancy': 'nancy', 'Cholet': 'cholet', 'Dijon': 'dijon', 'Orleans': 'orleans', 'Le Mans': 'le-mans', 'Pau-Lacq-Orthez': 'pau-orthez', 'Le Portel': 'le-portel', 'Hyeres-Toulon': 'hyeres-toulon', 'Antibes': 'antibes'}

## Schedule

###  takes kind argument: 
#### R (Club play)
#### P (Euroleague play)
#### B (both)

In [28]:
print(len(season.schedule(kind='B')))
print(len(season.schedule(kind='P')))
print(len(season.schedule(kind='R')))

347
24
323

In [29]:
season.schedule(kind='B').head()

,boxscore_id,visitor_team_name,visitor_pts,home_team_name,home_pts,boxscore_id,overtimes,notes,is_playoffs
0,2016-09-23-hyeres-toulon,Gravelines-Dunkerque,62.0,Hyeres-Toulon,75.0,NaN,NaN,NaN,False
1,2016-09-23-le-portel,Nanterre,84.0,Le Portel,65.0,NaN,NaN,NaN,False
2,2016-09-23-paris-levallois,Nancy,67.0,Paris-Levallois,75.0,NaN,NaN,NaN,False
3,2016-09-24-chalon,Orleans,67.0,Chalon/Saone,87.0,NaN,NaN,NaN,False
4,2016-09-24-chalons-en-champagne,Antibes,92.0,Chalons-Reims,77.0,NaN,NaN,NaN,False

In [30]:
season.schedule(kind='P').head()

,boxscore_id,visitor_team_name,visitor_pts,home_team_name,home_pts,boxscore_id,overtimes,notes,is_playoffs
0,2017-05-22-monaco,Lyon-Villeurbanne,72.0,Monaco,69.0,NaN,NaN,NaN,True
1,2017-05-22-strasbourg,Pau-Lacq-Orthez,102.0,Strasbourg,92.0,NaN,NaN,NaN,True
2,2017-05-23-chalon,Le Portel,63.0,Chalon/Saone,76.0,NaN,NaN,NaN,True
3,2017-05-23-nanterre,Paris-Levallois,88.0,Nanterre,85.0,NaN,NaN,NaN,True
4,2017-05-24-pau-orthez,Strasbourg,83.0,Pau-Lacq-Orthez,68.0,NaN,NaN,NaN,True

In [31]:
season.schedule(kind='R').head()

,boxscore_id,visitor_team_name,visitor_pts,home_team_name,home_pts,boxscore_id,overtimes,notes,is_playoffs
0,2016-09-23-hyeres-toulon,Gravelines-Dunkerque,62.0,Hyeres-Toulon,75.0,NaN,NaN,NaN,False
1,2016-09-23-le-portel,Nanterre,84.0,Le Portel,65.0,NaN,NaN,NaN,False
2,2016-09-23-paris-levallois,Nancy,67.0,Paris-Levallois,75.0,NaN,NaN,NaN,False
3,2016-09-24-chalon,Orleans,67.0,Chalon/Saone,87.0,NaN,NaN,NaN,False
4,2016-09-24-chalons-en-champagne,Antibes,92.0,Chalons-Reims,77.0,NaN,NaN,NaN,False

## Standings (no args)

In [22]:
season.standings().head()

,wins,losses,win_loss_pct,gb,pts_per_g,opp_pts_per_g,wins_pyth,losses_pyth,,wins_playoffs,losses_playoffs,win_loss_pct_playoffs,pts_per_g_playoffs,opp_pts_per_g_playoffs,wins_pyth_playoffs,losses_pyth_playoffs,has_class_full_table
team_id,,,,,,,,,,,,,,,,,
monaco,30.0,4.0,0.882,—,90.6,79.9,29.0,5.0,NaN,1.0,2.0,0.333,70.3,70.7,1.0,2.0,True
chalon,27.0,7.0,0.794,3,109.6,99.5,27.0,7.0,NaN,8.0,3.0,0.727,77.7,72.0,8.0,3.0,True
nanterre,25.0,9.0,0.735,5,85.9,80.7,24.0,10.0,NaN,0.0,2.0,0.000,78.0,82.5,1.0,1.0,True
strasbourg,23.0,11.0,0.676,7,107.5,101.0,24.0,10.0,NaN,7.0,6.0,0.538,74.2,74.4,6.0,7.0,True
pau-orthez,21.0,12.0,0.636,8.5,85.5,82.0,21.0,12.0,NaN,1.0,2.0,0.333,79.3,82.3,1.0,2.0,True

## team stat tables (no args)

In [23]:
season.team_stats_totals().head()

,g,fg,fga,fg_pct,fg3,fg3a,fg3_pct,fg2,fg2a,fg2_pct,...,ft_pct,orb,drb,trb,ast,stl,blk,tov,pf,pts
team_id,,,,,,,,,,,,,,,,,,,,,
chalon,34.0,1381.0,2770.0,0.499,357.0,968.0,0.369,1024.0,1802.0,0.568,...,0.706,378.0,1117.0,1495.0,819.0,240.0,159.0,512.0,738.0,3726.0
strasbourg,34.0,1335.0,2900.0,0.460,365.0,969.0,0.377,970.0,1931.0,0.502,...,0.704,461.0,1096.0,1557.0,894.0,329.0,123.0,584.0,977.0,3654.0
villeurbanne,34.0,1107.0,2437.0,0.454,299.0,868.0,0.344,808.0,1569.0,0.515,...,0.747,340.0,1003.0,1343.0,733.0,259.0,122.0,559.0,835.0,3107.0
monaco,34.0,1107.0,2417.0,0.458,306.0,861.0,0.355,801.0,1556.0,0.515,...,0.742,439.0,819.0,1258.0,693.0,326.0,130.0,448.0,806.0,3080.0
paris-levallois,34.0,1142.0,2524.0,0.452,252.0,768.0,0.328,890.0,1756.0,0.507,...,0.696,426.0,979.0,1405.0,642.0,245.0,109.0,506.0,844.0,3061.0

In [32]:
season.team_stats_per_game().head()

,g,fg_per_g,fga_per_g,fg_pct,fg3_per_g,fg3a_per_g,fg3_pct,fg2_per_g,fg2a_per_g,fg2_pct,...,ft_pct,orb_per_g,drb_per_g,trb_per_g,ast_per_g,stl_per_g,blk_per_g,tov_per_g,pf_per_g,pts_per_g
team_id,,,,,,,,,,,,,,,,,,,,,
chalon,34.0,40.6,81.5,0.499,10.5,28.5,0.369,30.1,53.0,0.568,...,0.706,11.1,32.9,44.0,24.1,7.1,4.7,15.1,21.7,109.6
strasbourg,34.0,39.3,85.3,0.460,10.7,28.5,0.377,28.5,56.8,0.502,...,0.704,13.6,32.2,45.8,26.3,9.7,3.6,17.2,28.7,107.5
villeurbanne,34.0,32.6,71.7,0.454,8.8,25.5,0.344,23.8,46.1,0.515,...,0.747,10.0,29.5,39.5,21.6,7.6,3.6,16.4,24.6,91.4
monaco,34.0,32.6,71.1,0.458,9.0,25.3,0.355,23.6,45.8,0.515,...,0.742,12.9,24.1,37.0,20.4,9.6,3.8,13.2,23.7,90.6
paris-levallois,34.0,33.6,74.2,0.452,7.4,22.6,0.328,26.2,51.6,0.507,...,0.696,12.5,28.8,41.3,18.9,7.2,3.2,14.9,24.8,90.0