# euro.BoxScore test

In [1]:
from sportsref import euro

In [5]:
box = euro.BoxScore('2018-02-04-bilbao')

## Non dataframe methods  - not many visible changes, but differences in how to access them with pyquery in code

In [6]:
print(box.date())
print(box.weekday())
print(box.home())
print(box.home_score())
print(box.away())
print(box.away_score())
print(box.winner())
print(box.season())

2018-02-04
Sunday
bilbao
77
fuenlabrada
83
fuenlabrada
2018

## Stats tables - very few changes

In [7]:
box.get_home_stats().head()

,player_id,mp,fg,fga,fg3,fg3a,ft,fta,orb,trb,ast,stl,blk,tov,pf,pts,player_name
0,devin-thomas-1,30.0,6.0,9.0,0.0,0.0,2.0,6.0,2.0,4.0,2.0,4.0,3.0,0.0,4.0,14.0,"Thomas, Devin"
1,shane-hammink-1,28.0,4.0,5.0,0.0,0.0,4.0,4.0,0.0,3.0,2.0,1.0,0.0,0.0,2.0,12.0,"Hammink, Shane"
2,jonathan-tabu-1,26.0,2.0,7.0,1.0,4.0,7.0,8.0,0.0,3.0,0.0,1.0,0.0,2.0,4.0,12.0,"Tabu, Jonathan"
3,alex-mumbru-1,25.0,5.0,8.0,2.0,5.0,7.0,8.0,0.0,2.0,4.0,1.0,1.0,0.0,3.0,19.0,"Mumbrú, Álex"
4,axel-hervelle-1,19.0,0.0,2.0,0.0,0.0,4.0,4.0,2.0,4.0,3.0,0.0,0.0,1.0,3.0,4.0,"Hervelle, Axel"

In [8]:
box.get_away_stats().head()

,player_id,mp,fg,fga,fg3,fg3a,ft,fta,orb,trb,ast,stl,blk,tov,pf,pts,player_name
0,christian-eyenga-1,35.0,4.0,8.0,2.0,4.0,0.0,0.0,1.0,3.0,0.0,1.0,1.0,1.0,2.0,10.0,"Eyenga, C."
1,rolands-smits-1,27.0,3.0,5.0,2.0,4.0,3.0,4.0,2.0,4.0,0.0,0.0,0.0,2.0,5.0,11.0,"Smits, Rolands"
2,marko-popovic-1,26.0,8.0,13.0,4.0,9.0,5.0,8.0,0.0,2.0,4.0,1.0,0.0,2.0,2.0,25.0,"Popovic, Marko"
3,blagota-sekulic-1,24.0,2.0,4.0,1.0,2.0,6.0,6.0,1.0,2.0,1.0,0.0,0.0,4.0,2.0,11.0,"Sekulic, Blagota"
4,francisco-cruz-1,24.0,4.0,8.0,1.0,4.0,1.0,2.0,0.0,2.0,4.0,2.0,0.0,1.0,1.0,10.0,"Cruz, Francisco"